/* body {
  background-image: url(./assets/bodybackground.jpg);
  width: 100vw;
  height: 100vh;
} */

#display-image {
  display: block;

  width: 50%;
  margin: 120px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

#thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

body {
  width: 100vw;
  max-height: 100vh;
  background-image: url(./bodybackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

:focus {
  background-color: black;
}
footer {
  color: white;
}
